!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,500,900', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript', src='/javascripts/background.js')
    script(type='text/javascript', src='/javascripts/jquery.smint.js')
    script(type='text/javascript')
      $(document).ready( function() {
      $('.subMenu').smint({
      'scrollSpeed' : 1000
      });
      });
  body(onload='setTimeout(function() { window.scrollTo(0, 1) }, 100);')
    .wrap
      .subMenu
        .inner
          
          a#sTop.subNavBtn(href='#') About
          a#s1.subNavBtn(href='#') Resume
          a#s2.subNavBtn(href='#') Portfolio
          a#s3.subNavBtn.end(href='#') Contact
          
      .section.sTop
        .inner
         h3= title
          div Welcome to my blog, think and comment here what you think.
        br.clear
      .section.s1
        .inner
          h1 Resume
      .section.s2
        .inner
          h1 Portfolio
      .section.s3
        .inner
          h1 Contact
          a(class="brand",href="/") New era Blog
          
            ul.nav
              li.active
                a(href="/") Home
              - if (user)
                li
                  a(href="/post/add") Add post
              li
                a(href="#") Contact
            p.navbar-text.pull-right
              - if (user)
                  span Logged in as 
                  a(href="/logout") #{user.user}
              - else
                a(href="/login") Login user
