body {
  font: 95%/1.5 Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
  margin: -20px auto;
  background: #b9b9b9;
}
#wrapper {
  width: 920px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 20px;
}
#home {
  min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}
#home.article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}
#about {
  min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#about.article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}
h1 h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0 0 15px 0;
}
h1 {
  font-size: 36px;
  letter-spacing: -2px;
  line-height: 100%;
}
h1.title {
  font-size: 46px;
  font-weight: 700;
  color: #6a6a6a;
}
h2 {
  font-size: 24px;
}
p {
  margin: 0 0 15px 0;
}
.menuBtn {
  background: center center no-repeat transparent;
  background: #000;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 10px;
}
.active {
  background: #d3d3d3;
}
.clear {
  clear: both;
}
.wrap {
  z-index: 10;
  position: relative;
  margin: 0 auto;
  padding: 0;
}
.section {
  height: 900px;
  width: 100%;
  z-index: 10;
  position: relative;
  background: #bdbdbd;
}
.inner {
  width: 960px;
  margin: 0 auto;
  position: relative;
  min-height: 50px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.inner h1 {
  padding-top: 20px;
}
.subMenu {
  border-top: 1px solid #ccc;
  box-shadow: 0 5px 30px #585858;
  position: absolute;
  top: 462px;
  height: 50px;
  z-index: 1000;
  width: 100%;
  background: #ddd;
}
.subMenu .inner {
  font-weight: 400;
  width: 730px;
}
.subNavBtn {
  padding: 15px 2% 0 2%;
  font-family: Roboto;
  display: block;
  height: 35px;
  width: 150px;
  float: left;
  margin: 0px 0px 0 0;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  color: #575757;
}
.end {
  margin: 0;
}
.sTop {
  min-height: 630px;
  background: #e5e5e5;
  color: #3d3d3d;
}
.s1 {
  min-height: 1000px;
  height: 1000px;
  width: 100%;
  max-width: 1920px;
  position: relative;
}
.s2 {
  min-height: 1000px;
  height: 1000px;
  width: 100%;
  max-width: 1920px;
  position: relative;
}
.s3 {
  min-height: 500px;
}
.s4 {
  min-height: 500px;
  background: #6e87a1;
  color: #fff;
}
.s5 {
  min-height: 500px;
  background: #293b4d;
  color: #fff;
}
